<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AppSecret</key>
    <string>NZeLx6uv1vo6WclDyiO4ZJeAopkv3bf9c90c-dfc4-4d57-af27-aeb5fc486316</string>
  </dict>
</plist>